<div class="acercade-container">
  <h2>De qué trata</h2>
  <img src="../../assets/img/img-banner-about.svg" alt="Equipo trabajando" />
  <!-- Sección Nuestra objetivo -->
  <div class="objetivo">
    <div class="titulo">
      <h2>Nuestro Objetivo</h2>
    </div>
    <div class="contenido">
      <p>
        Crear un prototipo de un sistema de publicación de datos abiertos basado en la tecnología blockchain. Los datos
        que se mostrarán provendrán de la toma de datos de sensores del entorno ambiental y climático que utilizan la
        tecnología LoRaWAN.
      </p>
      <img src="../../assets/img/2.png " alt="Equipo trabajando" />
    </div>
  </div>
  <!-- Sección De qué trata -->
  <div class="de-que-trata">
    <!-- Implementación -->
    <div class="implementacion">
      <div class="titulo">
        <h3>Implementación</h3>
      </div>
      <div class="contenido">
        <div class="proceso">
          <h4>Proceso</h4>
          <ul>
            <li>Diseño de la Arquitectura: Se definió el flujo de datos desde el sensor UV, pasando por el gateway
              LoRaWAN, una cola MQTT (Mosquitto), y su registro en la red blockchain con Hyperledger Fabric.</li> <br>
            <li>Implementación Técnica: Configuración del sensor, gateway, y broker MQTT; desarrollo de smart contracts
              para registrar los datos en la blockchain; y creación de una página web para visualización.</li><br>
            <li>Pruebas y Validación: Verificación de la funcionalidad del sistema, pruebas de integridad en la
              blockchain, y optimización del flujo de datos.</li><br>
            <li>Despliegue: Implementación en producción con monitoreo para garantizar estabilidad y rendimiento.</li>
          </ul>
        </div>
        <div class="recursos">
          <h4>Recursos y/o Elementos</h4>
          <p>Se utilizaron sensores UV y un gateway LoRaWAN para capturar y transmitir datos. El backend incluye un
            broker MQTT (Mosquitto) y una red blockchain en Hyperledger Fabric.</p>
          <p><br>Los datos se procesan y muestran en una
            página web desarrollada con frameworks como React o Vue.js, mientras que el sistema está alojado en
            servidores locales o en la nube, con contenedores Docker para la blockchain.</p>
          <img src="../../assets/img/2.png" width="250px" height="200px"  >
        </div>
      </div>
    </div>
  </div>
</div>